# Environment variables
.env
.env.*
*.env

# Dependencies
node_modules/
package-lock.json

# Logs & Temporary files
*.log
scratch/
.system_generated/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# IDE configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
